<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.11.31" targetFramework="net472" />
  <package id="Microsoft.Xml.XMLGen" version="1.0.0" targetFramework="net472" />
  <package id="Octokit" version="0.49.0" targetFramework="net472" />
  <package id="Saxon-HE" version="10.3.0" targetFramework="net472" />
</packages>